aiomysql==0.0.20
aiosqlite==0.15.0
anyio==1.4.0
async-generator==1.10
asyncclick==7.0.9
asyncpg==0.20.1
atomicwrites==1.4.0
attrs==19.3.0
cffi==1.14.0
colorama==0.4.3
cryptography==2.9.2
idna==2.10
iso8601==0.1.12
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycparser==2.20
PyMySQL==0.9.2
pyparsing==2.4.7
PyPika==0.37.16
pytest==5.4.3
six==1.15.0
sniffio==1.1.0
tortoise-orm==0.16.13
typing-extensions==3.7.4.2
wcwidth==0.2.5
